h1,
h2,
h3,
h4 {
    color: var(--black-color);
    line-height: 1.2;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

section {
    padding: 5rem 0 5rem;
    overflow: hidden;
}

p {
    line-height: 3rem;
}

img {
    max-width: 100%;
    height: auto;
}



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


.pertama {
    background: #1abc9c;
    width: 100%;
    height: 87.5vh;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

}

::selection {
    background: rgba(26, 188, 156, 0.3);
}

.pertama .container {
    width: 400px;
}

.wrapper {
    width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
}

.wrapper .title {
    height: 90px;
    background: #16a085;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper form {
    padding: 30px 25px 25px 25px;
}

.wrapper form .row {
    height: 45px;
    margin-bottom: 15px;
    position: relative;
}

.wrapper form .row input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 16px;
    transition: all 0.3s ease;
    text-transform: none;
}

form .row input:focus {
    border-color: #16a085;
    box-shadow: inset 0px 0px 2px 2px rgba(26, 188, 156, 0.25);
}

form .row input::placeholder {
    color: #999;
}

.wrapper form .row i {
    position: absolute;
    width: 47px;
    height: 100%;
    color: #fff;
    font-size: 18px;
    background: #16a085;
    border: 1px solid #16a085;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper form .row .matapsw {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0%;
    background: none;
    color: #16a085;
    border: none;
    display: flex;
}

.wrapper form .row .matacpsw {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0%;
    background: none;
    color: #16a085;
    border: none;
    display: flex;
}



.wrapper form .pass {
    margin: 8px 0 20px 0;
}

.wrapper form .pass span {
    color: #16a085;
    font-size: 17px;
    text-decoration: none;
}

.wrapper form .pass span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.wrapper form .button input {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    background: #16a085;
    border: 1px solid #16a085;
    cursor: pointer;
}

form .button input:hover {
    background: #12876f;
}

.wrapper form .signup-link {
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
}

.wrapper form .signup-link span {
    color: #16a085;
    text-decoration: none;
}

form .signup-link span:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* .hero .col img {
    position: absolute;
} */

.coursel {
    position: relative;
    cursor: pointer;
}

.coursel .slick-dots {
    position: absolute;
    bottom: 5%;
}

.coursel .slick-dots li {
    width: 20px;
    border-radius: 50%;
}

.coursel .slick-dots li button::before {
    font-size: 10px;
    color: crimson;
}


.coursel .slick-prev {
    position: absolute;
    left: 2%;
}

.coursel .slick-next {
    position: absolute;
    right: 2%;
}

.coursel .slick-arrow {
    background-color: #16a085;
}

.user-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}